body {
    /* background: url("../images/5107c1158cfe9f8552383ff5490c793ae14c34c9.jpg"); */
    background-color: black;
    width: 100%;
    animation: blink 2s infinite ;
}
@keyframes blink {
    0%{
        background: url("../images/5107c1158cfe9f8552383ff5490c793ae14c34c9.jpg");
    }
    99%{
        background: url("../images/5107c1158cfe9f8552383ff5490c793ae14c34c9.jpg");
    }
    100%{
        background: url("../images/5107c1158cfe9f8552383ff5490c793ae14c34c9v2.jpg");
    }
}

.jumbotron {
    color: #36F8C8;
    display: flex;
    justify-content: space-between;
    /* background-color: #333333; */
    font-size: 50px;
    font-family: 'Righteous', cursive;
    border: 5px;
    width: 90%;
    margin: 5px;
    background: rgba(204, 204, 204, 0.5);

}

.query {
    font-size: 25px;
    /* border: 200px; */
}
.container {
    width: 100%;
}